<%- include('../partials/header') %>
<div id="index-all-background">
  <div id="index-all">
    <h1>All Road Trips</h1>
    <table>
      <tbody>
        <% trips.forEach(function(t) { %>
        <tr>
          <td><a href="/allTrips/<%= t._id %>"><%= t.tripStartEnd %></a></td>
          <td><i><%= t.userName %></i></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <% if (trips.length === 0) {%>
    <h1>No Trips Added Yet!</h1>
    <% } %> 
  </div>
</div>
<%- include('../partials/footer') %>
