<%- include('../partials/header') %>


<section id="show-page">
    <div>Road Trip Start/End: </div>
    <div><%= trip.tripStartEnd %></div>
    <div>Road Trip Destinations/Stops: </div>
    <div><%= trip.stopsEnRoute %></div>
    <div>Total Drive Hours: </div>
    <div><%= trip.tripHours %></div>
    <div>Total Trip Days: </div>
    <div><%= trip.tripDays %></div>
    <div>Trip Details/Story: </div>
    <div><%= trip.story %></div>
</section>


  
<%- include('../partials/footer') %>